body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.trail-search {
  border: 2px solid black;
  width: 75%;
  margin: 2% auto;
}

.trail {
  display: inline-block;
  width: 44%;
  margin: 2%;
  vertical-align: top;
  font-weight: 400;
  background-color: #cfda6d;
  /* min-height: 600px; */
}

.trail p {
  margin: 0 3% 0 3%;
}

.trail img {
  max-height: 250px;
  max-width: auto;
  height: auto;
  width: auto;
  margin-top: 5%;
}

.journal-container {
  float: right;
  border: 2px solid red;
  width: 10%;
}