body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #7aaa0a;
  font-weight: 600;
}

a:hover {
  color: #aa9f0a
}

.Home, .LogIn, .SignUp, .LogOut {
  background: url('./images/trail-background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 750px;
  color: rgb(230, 220, 220);
}

.Home p {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 1.5em;
}

.home-container {
  color: rgb(34, 33, 33);
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  height: auto;
  width: 50%;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.sign-up-form-container, .login-container, .logout-container {
  color: rgb(34, 33, 33);
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  height: auto;
  width: 30%;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.logout-container {
  width: 40%;
}

.sign-up-form-container p {
  padding-left: 10px;
}

nav {
  margin-left: 0%;
  font-size: 1.5em;
  display: inline-block;
}

.trails-container {
  background: url('./images/trail-background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 5px;
}

.trail-search, .journal {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid black;
  border-radius: 5px;
  width: 75%;
  margin: 1% auto;
}

.trail {
  display: inline-block;
  width: 44%;
  margin: 2%;
  vertical-align: top;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  min-height: 400px;
}

.trail iframe, .journal-trail iframe {
  float: left;
  margin: 0 3% 3% 3%;
  border: none;
  border-radius: 5px;
  width: auto;
  max-width: 60%;
}

.trail p, .journal-trail p {
  margin: 0 3% 0 3%;
  text-align: left;
}

.trail img, .journal-trail img{
  text-align: center;
  max-height: 250px;
  width: auto;
  max-width: 80%;
  height: auto;
  margin-top: 5%;
}

.journal-container {
  background: url('./images/trail-background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 5px;
  background: url('./images/trail-background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  border-radius: 5px;
  height: auto;
}

.journal-trail {
  display: inline-block;
  width: 44%;
  margin: 2%;
  vertical-align: top;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  min-height: 400px;
}

.journal-map-and-info {
  display: block;
}

.packingList {
  display: block;
}

.packingList p {
  text-align: center;
}

.footer {
  font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
  .home-container, .sign-up-form-container, .login-container, .logout-container {
    width: 90%;
  }

  .trail, .journal-trail {
    width: 90%;
  }
}